!!!

%html
  %head
    %title Which Way Should My Carseat Face?
    %link{ :href => "/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/app.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/bootstrap.min.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/app.js" }
  %body

